
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@600&display=swap');

body{
  height: 100vh;
  width: 100%;
}

.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.myform{
  flex-basis: 450px;
  height: 300px;
  
}
.title{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}
.posts{
  flex-basis: 450px;
  margin-bottom: 1.5rem;
  font-family: 'Raleway', sans-serif;
  
}

.del-btn , .like-btn , .comment-btn{
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  
}

.oneThought{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid #dbdbdb;;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 14px;
  font-family: 'Raleway', sans-serif;

}